[showonpageload] {
  display: flex !important;
}

body {
  user-select: none;
}

input,
textarea,
[data-selectable] * {
  user-select: text;
}

[not-selectable] * {
  user-select: none !important;
}

::selection {
  background: #f3ebff;
  color: inherit;
}

[darkselect] ::selection {
  color: #111 !important;
}

.emptystate {
  display: flex;
}

/* apple checkboxes */
.checkbox-default-small:checked + .toggle-label-small {
  background-color: #7a50ed !important;
}
.checkbox-default-small:checked + .toggle-label-small .checkbox-toggle-dot {
  left: calc(50%);
}

/* toggles */

label {
  cursor: pointer !important;
}

.toggle-label:after {
  content: '';
  position: absolute;
  top: auto;
  bottom: auto;
  left: 6px;
  width: calc(50% - 12px);
  height: calc(100% - 10px);
  background: #fff;
  border-radius: 6px;
  transition: 0.3s;
}

.checkbox-default:checked + .toggle-label:after {
  left: calc(100% - 6px);
  transform: translateX(-100%);
}

.checkbox-default + .toggle-label .false {
  color: #333;
}

.checkbox-default:checked + .toggle-label .false {
  color: #000;
}

.checkbox-default:checked + .toggle-label .true {
  color: #25d366;
}

/* purple text */
/* Default state: purple text for .false, black icon hidden, purple icon visible */
.checkbox-default.purple + .toggle-label .toggle-text-container.false {
  color: #7e79f0;
}
.checkbox-default.purple + .toggle-label .toggle-text-container.false .checkbox-icon.black {
  display: none;
}
.checkbox-default.purple + .toggle-label .toggle-text-container.false .checkbox-icon.purple {
  display: inline-block;
}

/* Default state: black text for .true, black icon visible, purple icon hidden */
.checkbox-default.purple + .toggle-label .toggle-text-container.true {
  color: #000;
}
.checkbox-default.purple + .toggle-label .toggle-text-container.true .checkbox-icon.black {
  display: inline-block;
}
.checkbox-default.purple + .toggle-label .toggle-text-container.true .checkbox-icon.purple {
  display: none;
}

/* Checked state: false text black, black icon hidden, purple icon hidden */
.checkbox-default.purple:checked + .toggle-label .toggle-text-container.false {
  color: #000;
}
.checkbox-default.purple:checked + .toggle-label .toggle-text-container.false .checkbox-icon.black {
  display: inline-block;
}
.checkbox-default.purple:checked + .toggle-label .toggle-text-container.false .checkbox-icon.purple {
  display: none;
}

/* Checked state: true text purple, black icon hidden, purple icon visible */
.checkbox-default.purple:checked + .toggle-label .toggle-text-container.true {
  color: #7e79f0;
}
.checkbox-default.purple:checked + .toggle-label .toggle-text-container.true .checkbox-icon.black {
  display: none;
}
.checkbox-default.purple:checked + .toggle-label .toggle-text-container.true .checkbox-icon.purple {
  display: inline-block;
}

/* simple checkbox */
.checkbox-simple-input:checked + label {
  background-color: #7e79f0 !important;
  color: #7e79f0;
}

/* radio btns - status indicators */
.radio-btn-checkbox-input + .button-secondary .status-indicator {
  background-color: #f37a80;
}

.radio-btn-checkbox-input:checked + .button-secondary .status-indicator {
  background-color: #25d366;
}

/* multi-select boxes */
.multi-select-checkbox.selected .multiple-select-radiobtn {
  outline-color: #7e79f0;
  outline-width: 2px;
  background-color: #7e79f0;
}

/* dropdown select boxes */
.selectlabels > .dropdown-active-checkbox {
  display: none;
}
.selectlabels.active > .dropdown-active-checkbox {
  display: flex;
}
.selectlabels.selected > .dropdown-active-checkbox {
  display: flex;
}

/* label select boxes */
.checkbox-label:checked + .checkbox-label-label {
  background-color: #f1f1f1 !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
}

/* image preloading */

@font-face {
  font-family: 'preload_toast-error';
  src: url('https://uploads-ssl.webflow.com/65911e9735540c235757642f/65abe22a6f01cd5e4b5d261a_exclamation-circle%20(3).svg') format('svg');
}
@font-face {
  font-family: 'preload_toast-success';
  src: url('https://uploads-ssl.webflow.com/65911e9735540c235757642f/65b2df4b53fe42c9223f00f2_check-circle%20(3).svg') format('svg');
}
@font-face {
  font-family: 'livechat_takeover_illustration';
  src: url('https://assets-global.website-files.com/65911e9735…235757642f/65f35f09cccf11a826a2d09b_Group%208.svg') format('svg');
}

/* prompt input secondary btns */
[secondary-btn-hover='child'] {
  pointer-events: none;
  opacity: 0;
  transform: translateY(10px);
}
[secondary-btn-hover='parent']:hover > [secondary-btn-hover='child'] {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}
[enlarge-btn='minimize'] {
  display: none;
}

/* input active states */

input:not([type='button']):not([type='submit']):not([type='reset']):not([no-outline]):focus,
textarea:focus:not([no-outline]) {
  outline: solid 2px #000 !important;
  border-color: transparent !important;
}

.auth-form-input:focus {
  background-color: #fff !important;
  outline: none !important;
}

textarea[w-el='input-identiteit-prompt']:focus {
  background-color: #fff !important;
}

textarea {
  resize: none;
}

/* hide scrollbars */
.scrollable {
  -ms-overflow-style: none; /* internet explorer, edge */
  scrollbar-width: none; /* firefox */
  overflow-y: scroll; /* allow scroll */
}
.scrollable::-webkit-scrollbar {
  display: none; /* chrome, safari, and opera */
}

.popup-underlay {
  display: none;
}

/* charcount */
.charcount {
  display: none;
}

/* hotspots */
[tooltip-content] {
  opacity: 0;
  display: none;
}
[tooltip]:hover > [tooltip-content] {
  display: flex;
  opacity: 1 !important;
}

[tooltip] {
  display: none;
}
[tooltip]:hover {
  display: flex;
}
[tooltip-trigger]:hover [tooltip] {
  display: flex;
}
[tooltip-trigger='info']:hover {
  cursor: help;
}

/* new in v2 */

.toggle-label.v2:after {
  left: 3px;
  width: calc(50% - 6px) !important;
  height: calc(100% - 6px);
  border-radius: 4px;
  transition: 0.3s;
  transform: translateZ(0);
  will-change: left;
}

.checkbox-default:checked + .toggle-label.v2:after {
  left: calc(100% - 3px) !important;
  /* transform: translateX(-100%) !important; */
}

/* secondary navbar nav items inbox/datasources */

.list-item.selected {
  background-color: #f7f7ff;
  border-color: #f3f3ff;
}
.list-item.selected .list-item-icon-container {
  background-color: #7e79f0;
  border-color: #a19dff !important;
}
.list-item.selected .list-item-icon-container > img {
  filter: invert(100%);
}

.secondary-header-container .list-item:hover .list-item-icon-container {
  transform: scale(1.06);
}

/* skeleton loader */
.skeleton-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  background: linear-gradient(to right, #fdfdfd 25%, #f5f5f5 50%, #fdfdfd 75%);
  background-size: 200% 100%;
  z-index: 1;
  animation: skeleton 1s infinite linear;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

[code-skeleton] {
  background-clip: padding-box;
}
